* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(43, 43, 43);
}

form {
  border: 2px solid white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h2 {
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  text-align: center;
}

label {
  color: white;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 8px;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 16px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input:focus,
select:focus {
  background: rgba(255, 255, 255, 0.5);
}

button {
  width: 50%;
  margin-left: 5rem;
  margin-top: 2rem;
  padding: 12px;
  background: linear-gradient(135deg, #ff1493, #ff8c00);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(135deg, #ff8c00, #ff1493);
  transform: scale(1.05);
  transition: all 0.3s;
}

.back-btn {
  display: inline-block;
  margin-top: 10px;
  color: #ffd700;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.back-btn:hover {
  text-decoration: underline;
}
